/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');
/* Lettertype en kleur definiëren */
:root{
    --main-font: 'Asap', sans-serif;
    --secondary-font: 'Kanit', sans-serif;
 
   
}
html,body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}
.navbar-nav{
    font-family: var(--secondary-font);
}
h1{
    font-family: var(--secondary-font);
}
p{
    font-family: var(--main-font);
}
/* jumbotron begin pagina */

.index-content .btn-dark {
    border-radius: 22px;
    padding: 12px 30px ;
    margin-top: 1.5rem;
    font-weight: 700;
   
   
 
 }
/* Section 2 */
.section-2 .container-fluid{
    background-image: url('../img/two-person.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.section-2 .heading-1{
    margin-top: 10%;
    margin-bottom: 4%;
}
.section-2 .heading-1{
    margin-top: 20%;
    margin-bottom: 4;
    font-family: 'Righteous';
    width: 80%;
    color: #000000;

}


.jumbotron {
    color: #ffffff;
    background-image: url(../img/man.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
  }
  .display-4{
      text-align: center;
  }
  .display-5{
    text-align: center;
}
.page-footer{
    background-color: #DCDCDC;
    opacity: 0.6;  
}
.link:link{
    color: #000000;
}
.link:hover{
    color: #ffffff;
    text-decoration: none;
}
h3{
    text-align: center;
    padding: 1rem;
}
.center-title{
    margin-left: -5rem;
}
.contact{
    text-align: center;
}

.parallax{
    background: url('../img/business.jpg')no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: 30vw; 
    color: #ffffff;
    display: flex; 
    align-items: center;
}
.btn-dark{
    text-align: right;
    float: left;
}
.col-5 h1{ 
    font-size: 5vw!important;
}
.container-para{
    max-width: 960px;
    margin: 0 auto;
    background: #ffffff;
    font-size: 24px;
    padding: 25px;
}

.my-5{
    width: 50%;
}
/* Team */
.jumbotron-team{

    color: #ffffff;
    background-image: url(../img/Team_voorpagina.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    height: 50%; 
    min-height: 400px;
 
}
/* Contact */
.map-container{
    height: 400px;
}

/* opmaak Foto Homepagina*/
.Foto{
	position: relative;
	text-align: center;
	color: black;
  }
  .centered {
	position: absolute;
	top: 650%;
	left: 0%;
	transform: translate(-50%, -50%);
  }

/*Opmaak formulier*/
 /* Opmaak tekstvlakken*/
 input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Opmaak van het knopje */
  input[type=submit] {
	background-color: rgb(94, 94, 94);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /*Opmaak als je over het knopje beweegt*/
  input[type=submit]:hover {
	background-color: #000000;
  }
  
  .formulier {
	border-radius: 5px;
	padding: 20px;
  }
/* links pagina */
#links{
    background: silver;
    padding-bottom: 50px;
    padding-top: 50px;
}
.links{
    
    margin-top: 8%;
}
#links ul li{
    margin: 10px 0;
}
/* google map */
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
    margin-bottom: 1.5rem;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}